<div class="payment-box1">
  <div class="payment-box2">
    {{#unless this.valid}}
          <div class="app-container">
            <div class="top-box">
              <p>CHECKOUT</p>
            </div>
            <div class="middle-box">

              <h1>
                <label>Amount:</label><br>
                <Input
                        class="input"
                        aria-label="Amount"
                        @type="text"
                        placeholder="Amount"
                        @value={{this.amt}}
                  /><span id="sp1">$</span> </h1>

            </div>
            <div class="bottom-box">
              <div class="card-details">
                <p>Pay Usin g Credit or Debit Card</p>
                <div class="card-num-field-group">
                  <label>Card Number</label><br>
                  {{!-- template-lint-disable no-duplicate-attributes --}}
                  <Input
                        class="input"
                        aria-label="Card Number"
                        class="card-num-field"
                        @type="text"
                        placeholder="xxxx-xxxx-xxxx-xxxx"
                        @value={{this.cardNo}}
                  />
                </div>
                <div class="date-field-group">
                  <label>Expiry Date</label><br>
                  {{!-- template-lint-disable no-duplicate-attributes --}}
                  <Input
                        class="input"
                        aria-label="Expiry"
                        class="date-field"
                        @type="text"
                        placeholder="mm"
                        @value={{this.mm}}
                  />
                  <Input
                        class="input"
                        aria-label="Expiry"
                        class="date-field"
                        @type="text"
                        placeholder="yy"
                        @value={{this.yy}}
                  />
                </div>
                <div class="cvv-field-group">
                  <label>Cvv</label><br>
                  {{!-- template-lint-disable no-duplicate-attributes --}}
                  <Input
                        class="input"
                        aria-label="CVV Number"
                        class="cvv-field"
                        @type="password"
                        placeholder="***"
                        @value={{this.cvv}}
                  />
                </div>
                <div class="name-field-group">
                  <label>Card Holder Name</label><br>
                  {{!-- template-lint-disable no-duplicate-attributes --}}
                  <Input
                        class="input"
                        aria-label="CVV Number"
                        class="name-field"
                        @type="text"
                        placeholder="Name"
                        @value={{this.name}}
                  />
                </div>
                {{!-- template-lint-disable no-action --}}
                <button type="button" class="pay-btn" {{action this.recharge}}>Pay Now</button>
              </div>
            </div>
          </div>
    {{/unless}}
    {{#if this.success}}
      <div class="receipt-body">
        <div class="card">
            {{!-- template-lint-disable no-inline-styles --}}
            <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
              <i class="checkmark">✓</i>
            </div>
              <h1 id="h1">Success</h1>

              {{!-- template-lint-disable no-action --}}
              <p id="p">Payment Successful;<br/> <button type="button" {{action this.reload}} ><LinkTo @route="home">Go to home?</LinkTo></button> </p>
        </div>
      </div>
    {{/if}}
  </div>
</div>
{{outlet}}
