<div class="outBox">
  <div class="inBox">
    <form >
				<h1>Sign up</h1>

          {{#unless this.first}}
               <Input
            class="input"
            aria-label="UserName"
            @type="text"
            placeholder="Name"
            @value={{this.name}}
          /><br>
           <Input
            class="input"
            aria-label="UserMail"
            @type="mail"
            placeholder="mail"
            @value={{this.mail}}
          /><br>
           <Input
            class="input"
            aria-label="UseMobile"
            @type="text"
            placeholder="Mobile Number"
            @value={{this.mobile}}
          /><br>
           <Input
            class="input"
            aria-label="Password"
            @type="password"
            placeholder="Password"
            @value={{this.pwd}}
          /><br>
            {{!-- template-lint-disable no-action --}}
            <button type="button" {{action this.firstValidate}}>Continue</button>
          {{/unless}}

         {{#if this.second}}
              <Input
                class="input"
                aria-label="Reg_No"
                @type="text"
                placeholder="Reg_No"
                @value={{this.regNo}}
              /><br>
              {{!-- template-lint-disable require-input-label --}}
              <select onchange={{action "choose" value="target.value"}}>
                <option disabled selected> -- Select Type -- </option>
                <option value="type1">Car/Jeep/Van</option>
                <option value="type2">LCV</option>
                <option value="type3">Bus/Truck</option>
                <option value="type4">Upto 3 Axle</option>
                <option value="type5">4-6 Axle/HCM/EME</option>
                <option value="type6">7 or more Axle</option>
              </select><br>
              <Input
                class="input"
                aria-label="Vehicle Owner Name"
                @type="text"
                placeholder="Owner Name"
                @value={{this.ownerName}}
              /><br>
              {{!-- template-lint-disable no-action --}}
            <button type="button" {{action this.secondValidate}}>Continue</button>
         {{/if}}
         {{#if this.third}}
            <h4>Everything is set, <br>Create a Passcode/Pin and complete your regisration</h4>
            <Input
                class="input"
                aria-label="pin"
                @type="password"
                placeholder="****"
                @value={{this.pin}}
              /><br>
              {{!-- template-lint-disable no-action --}}

            <button type="button" {{action this.check}}>Continue</button>

            {{#if this.payment}}
              <div class="app-container">
              <div class="top-box">
                <p>CHECKOUT</p>
              </div>
              <div class="middle-box">

                <h1>
                  <label>Amount:</label><br>
                  50
                  <span id="sp1">$</span>
                </h1>

              </div>
              <div class="bottom-box">
                <div class="card-details">
                  <p>Pay Usin g Credit or Debit Card</p>
                  <div class="card-num-field-group">
                    <label>Card Number</label><br>
                    {{!-- template-lint-disable no-duplicate-attributes --}}
                    <Input
                          class="input"
                          aria-label="Card Number"
                          class="card-num-field"
                          @type="text"
                          placeholder="xxxx-xxxx-xxxx-xxxx"
                          @value={{this.cardNo}}
                    />
                  </div>
                  <div class="date-field-group">
                    <label>Expiry Date</label><br>
                    {{!-- template-lint-disable no-duplicate-attributes --}}
                    <Input
                          class="input"
                          aria-label="Expiry"
                          class="date-field"
                          @type="text"
                          placeholder="mm"
                          @value={{this.mm}}
                    />
                    <Input
                          class="input"
                          aria-label="Expiry"
                          class="date-field"
                          @type="text"
                          placeholder="yy"
                          @value={{this.yy}}
                    />
                  </div>
                  <div class="cvv-field-group">
                    <label>Cvv</label><br>
                    {{!-- template-lint-disable no-duplicate-attributes --}}
                    <Input
                          class="input"
                          aria-label="CVV Number"
                          class="cvv-field"
                          @type="password"
                          placeholder="***"
                          @value={{this.cvv}}
                    />
                  </div>
                  <div class="name-field-group">
                    <label>Card Holder Name</label><br>
                    {{!-- template-lint-disable no-duplicate-attributes --}}
                    <Input
                          class="input"
                          aria-label="CVV Number"
                          class="name-field"
                          @type="text"
                          placeholder="Name"
                          @value={{this.name}}
                    />
                  </div>
                  {{!-- template-lint-disable no-action --}}
                  <button type="button" class="pay-btn" {{action this.check}}>Create Account</button>
                </div>
              </div>
            </div>
            {{/if}}
         {{/if}}
    </form>
  </div>
</div>
{{outlet}}