{{#unless this.first}}
  <div id="tollbox">
    <h2>Toll Gate Payment</h2>
    <form>
      <Input
        class="input"
        aria-label="Toll Place"
        @type="text"
        placeholder="TollGate Place"
        @value={{this.place}}
      /><br><br>
      <Input
        class="input"
        aria-label="Pin"
        @type="password"
        placeholder="PIN"
        @value={{this.pin}}
      /><br><br>
      {{!-- template-lint-disable no-action --}}
      <button type="button" {{action this.pay}}>Pay</button>
    </form>
  </div>
{{/unless}}

{{#if this.receipt}}
  <div class="receipt-body">
    <div class="card">
    {{!-- template-lint-disable no-inline-styles --}}
      <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
        <i class="checkmark">✓</i>
      </div>
      <h1 id="h1">Success</h1>
      {{!-- template-lint-disable no-action --}}
      <p id="p">Payment Successful;<br/><br> Place : {{this.place}} Toll Plaza<br>THANK YOU<br><button type="button" {{action this.reload}} ><LinkTo @route="home">Go to home?</LinkTo></button> </p>
    </div>
  </div>
{{/if}}



{{outlet}}